.header {
  background-color: #193369;
  color: white;
  justify-content: center;
  letter-spacing: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 360px) {
  .header {
    letter-spacing: unset;
  }
}

.body {
  height: 100%;
  background-image: linear-gradient(purple, midnightblue);
}