<div class="row">
    <div class="col-12 mar-top">
        <mat-card class=" todo-list col">
            <div>
                <h1 class="ta-left">Edit Task</h1>
            </div>
            <div class="col-">
                <div class="col-1">
                    <h2>Title</h2>
                </div>
                <mat-form-field class="col-8">
                    <input #newTask.title matInput [(ngModel)]="todoTask.title">
                </mat-form-field> 
            </div>
            <div class="col-1">
                <h2>Notes</h2>
            </div>
            <mat-form-field style="width: 60%; margin-left: 30px;">
                <textarea #newTask.note matInput [(ngModel)]="todoTask.note" cols="30" rows="5" placeholder="Write your notes here..."></textarea>
            </mat-form-field>
            <mat-card class="mar-btm">
                <h2>Upload image:</h2>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <input #file type="file" accept='image/*' (change)="uploadImage(file.files)"/>
                <div class="mar-top">
                    <img [src]="todoTask.image" height="auto" width="40%" *ngIf="todoTask.image" >
                </div>
            </mat-card>
            <button mat-raised-button (click)="updateTodo()" [routerLink]="['/list']" type="submit" color="accent" style="font-weight: bold; margin-right: 10px;">Save changes</button>
            <button mat-stroked-button [routerLink]="['/list']" color="accent" style="font-weight: bold; border: 2px solid;">Discard changes</button>
        </mat-card>
    </div>
</div>