<div class="row">
    <div class="col-10 mar-top" style="position: absolute; left: 8%;">
<mat-card class="width ta-center todo-list">
    <div>
    <h1 class="ta-left">Edit Task</h1>
</div>
    <div class="col-4" style="display: inline;">
        <h3>Title</h3>
    </div>
    <mat-form-field class="field col-6" style="display: inline;">
        
        <div >
        <mat-label>Title</mat-label>
        <input #newTask.title matInput [(ngModel)]="todoTask.title">
    </div>
    </mat-form-field>

    <mat-form-field class="field">
        <h1>NOTES:</h1>
        <mat-label>Notes</mat-label>
        <textarea #newTask.note matInput [(ngModel)]="todoTask.note" name="" id="" cols="30" rows="10"></textarea>
        <!-- <input #newTask.note matInput [(ngModel)]="todoTask.note"> -->
    </mat-form-field>

    <mat-card>
        <mat-card>
            <h3>upload image:</h3>
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file type="file" accept='image/*' (change)="uploadImage(file.files)"/>
            <img [src]="todoTask.image" height="200" width="100%" *ngIf="todoTask.image" >
        </mat-card>
    </mat-card>

    <button mat-raised-button (click)="updateTodo()" type="submit">Save changes
        <!-- <mat-icon class="vert-top">add</mat-icon> -->
    </button>
</mat-card>
    </div>
</div>