<div class="row">
    <div class="col-6 mar-top">
        <mat-card class="width ta-center">
            <h2 class="ta-left">Create Task</h2>
            <mat-form-field class="field">
                <mat-label>Add a To-do to your list</mat-label>
                <input #todoValue matInput (keyup.enter)="addTodo(todoValue.value); todoValue.value = ''">
            </mat-form-field>
            <button mat-mini-fab (click)="addTodo(todoValue.value); todoValue.value = ''">
                <mat-icon class="vert-top">add</mat-icon>
            </button>
        </mat-card>
        <mat-card>
            <mat-card>
                <h3>upload image:</h3>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                <img [src]="imgURL" height="200" width="100%" *ngIf="imgURL">
            </mat-card>
        </mat-card>
    </div>

    <div class="col-6 mar-top">
        <mat-toolbar class="todo-tb">
            <div class="col-8">
                <span class="spacing">Your To-dos</span>
                <mat-icon class="vert-sub">list_alt</mat-icon>
            </div>
            <div class="col-8 ta-right">
                <button mat-mini-fab (click)="deleteAllTodos()"><mat-icon class="vert-super">delete</mat-icon></button>
            </div>
        </mat-toolbar>
        <div class="todo-list">
            <mat-card class="width null-brd" *ngFor="let todo of todos; let todoValue = index;">
                <mat-list class="list">
                    <mat-list-item>
                        <div class="col-12 zero-lp">
                            <mat-checkbox class="mar-check ta-left"></mat-checkbox>
                            <span class="cross">{{ todo }}</span>
                            <!-- <span class="cross" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">{{ todo }}</span> -->
                        </div>
                        <div class="col-8 ta-right zero-rp">
                            <button mat-mini-fab class="mar-btn" [routerLink]="['/update']"><mat-icon class="vert-top">info</mat-icon></button>
                            <button mat-mini-fab class="mar-btn" (click)="editTask(todoValue)"><mat-icon class="vert-top">create</mat-icon></button>
                            <button mat-mini-fab class="mar-btn" (click)="removeTodo(todoValue)"><mat-icon class="vert-top">delete_forever</mat-icon></button>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <!-- <mat-card>
            <mat-card>
                <h3>upload image:</h3>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                <img [src]="imgURL" height="200" *ngIf="imgURL">
            </mat-card>
        </mat-card> -->
        <!-- <mat-card *ngIf="selectedHero">
            {{ selectedHero }}
        </mat-card> -->
    </div>
</div>


















<!-- <mat-card>
                <span contenteditable (input)="onNameChange($event.target.innerHTML)">{{ todo }}</span> -->
                <!-- <input *ngIf="todo.canEditCode" [(ngModel)]="todo" type="text" class="form-control" /> -->
            <!-- </mat-card> -->

            <!-- <mat-card>
        <span>{{todo}}</span>
        <input *ngIf="todo.canEditCode" [(ngModel)]="todo" type="text" class="form-control" />
    </mat-card> -->

    <!-- <button mat-mini-fab class="mar-btn" (click)="todo.canEditCode = true"><mat-icon class="vert-top">create</mat-icon></button> -->