<div class="row">
    <div class="col-6 mar-top">
        <mat-card class="card ta-center">
            <h2 class="ta-left">Create Task</h2>
            <mat-form-field class="field">
                <mat-label>Add a To-do to your list</mat-label>
                <input #todoValue matInput (keyup.enter)="addTodo(todoValue.value); todoValue.value = ''">
            </mat-form-field>
            <button mat-mini-fab (click)="addTodo(todoValue.value); todoValue.value = ''">
                <mat-icon class="vert-top">add</mat-icon>
            </button>
        </mat-card>
    </div>

    <div class="col-6 mar-top">
        <mat-toolbar class="todo-tb">
        <div class="col-8">
            <span class="spacing">Your To-dos</span>
            <mat-icon class="vert-sub">list_alt</mat-icon>
        </div>
            <div class="col-8 ta-right">
            <button mat-mini-fab (click)="deleteAllTodos()"><mat-icon class="vert-super">delete</mat-icon></button>
        </div>
        </mat-toolbar>
        <div class="todo-list">
        <mat-card class="card null-brd" *ngFor="let todo of todolist; let todoValue = index;">
            <mat-list class="todolist" >
                <mat-list-item class="list">
                    <mat-checkbox class="todo col-8 ta-left">
                        <span>{{ todo }}</span>
                    </mat-checkbox>
                    <div class="col-8 ta-right">
                        <button mat-mini-fab class="mar-btn" [routerLink]="['/update']"><mat-icon class="vert-top">create</mat-icon></button>
                        <button mat-mini-fab class="mar-btn" (click)="removeTodo(todoValue)"><mat-icon class="vert-top">delete_forever</mat-icon></button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
    </div>
</div>